{# templates/partials/header.html.twig #}

<!-- Topbar Start -->
<div class="container-fluid py-2 border-bottom d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-decoration-none text-body pe-3" href="#!">
                        <i class="bi bi-telephone me-2"></i>+012 345 6789
                    </a>
                    <span class="text-body">|</span>
                    <a class="text-decoration-none text-body px-3" href="#!">
                        <i class="bi bi-envelope me-2"></i>info@example.com
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="text-body px-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="text-body px-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    <a class="text-body px-2" href="#!"><i class="fab fa-instagram"></i></a>
                    <a class="text-body ps-2" href="#!"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="{{ path('app_home') }}" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary">
                        <i class="fa fa-heartbeat me-2"></i>Sahty
                    </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Service</a>
                    <a href="#" class="nav-item nav-link">Pricing</a>
                    {# <a href="{{ path('app_home') }}" class="nav-item nav-link active">Home</a>
                    <a href="{{ path('app_about') }}" class="nav-item nav-link">About</a>
                    <a href="{{ path('app_service') }}" class="nav-item nav-link">Service</a>
                    <a href="{{ path('app_price') }}" class="nav-item nav-link">Pricing</a> #}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">Blog Grid</a>
                            <a href="#" class="dropdown-item">Blog Detail</a>
                            <a href="#" class="dropdown-item">The Team</a>
                            <a href="#" class="dropdown-item">Testimonial</a>
                            <a href="#" class="dropdown-item">Appointment</a>
                            <!-- AJOUT DES DEUX BOUTONS ICI -->
                    <a href="{{ path('home_quizzes') }}" class="nav-item nav-link ms-3">
                        Quizzes
                    </a>
                    <a href="{{ path('home_recommandations') }}" class="nav-item nav-link ms-2">
                        Recommandations
                    </a>
                    
                            <a href="#" class="dropdown-item">Search</a>
                            {# <a href="{{ path('app_blog') }}" class="dropdown-item">Blog Grid</a>
                            <a href="{{ path('app_blog_detail') }}" class="dropdown-item">Blog Detail</a>
                            <a href="{{ path('app_team') }}" class="dropdown-item">The Team</a>
                            <a href="{{ path('app_testimonial') }}" class="dropdown-item">Testimonial</a>
                            <a href="{{ path('app_appointment') }}" class="dropdown-item">Appointment</a>
                            <a href="{{ path('app_search') }}" class="dropdown-item">Search</a> #}
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link">Contact</a>
                    
                    {# <a href="{{ path('app_contact') }}" class="nav-item nav-link">Contact</a> #}
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

